<body class="fondoedit">
<h2 class="titulo1">Editar <%= @user.name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
   <div class="barra5">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
    </div>

  <div class="barra1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="barra2">
    <%= f.label :password %> <i>(Dejalo en blanco si no deseas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="barra3">
    <%= f.label :confirmacion_de_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="barra6">
    <%= f.label :conraseña_actual %> <i>(Se necesita la contraseña actual)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3 class="barra2">Cancelar cambios</h3>

<%= link_to ( submit_tag "Cancelar cambios", class: "orden4"),registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %>

<%= link_to (submit_tag "Atras", class: "orden3"), :back %>
</body>