<body class="fondoregistrarse"> 
<h2 class="titulo1">Regístrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="barra5 field">
<%= f.label :nombre %><br />
<%= f.text_field :name, autofocus: true %>
</div>

<div class="barra6 field">
<%= f.label :apellido %><br />
<%= f.text_field :lastname, autofocus: true %>
</div>

  <div class="barra1 field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="barra2 field">
    <%= f.label :contraseña %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> carácteres minimo )</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="barra2 field">
    <%= f.label :confirmacion_de_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="barra4 actions">
    <%= f.submit "Regístrado" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body> 