<body class="fondomiespacio">
<%= form_for(@casa) do |f| %>
  <% if @casa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casa.errors.count, "error") %> prohibited this casa from being saved:</h2>

      <ul>
      <% @casa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :localidad %><br>
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
    <div class="field">
    <%= f.label :provincia %><br>
    <%= f.text_field :provincia %>
  </div>
  <div class="field">
    <%= f.label :pais %><br>
    <%= f.text_field :pais %>
  </div>
    <div class="field">
    <%= f.label :situacion %><br>
    <%= f.text_field :situacion %>
  </div>
  <div class="field">
    <%= f.label :fechas %><br>
    <%= f.text_field :fechas %>
  </div>
   <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
   <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :address %>
  </div>
     <div class="field">
    <%= f.label :latitud %><br>
    <%= f.text_field :latitude %>
  </div>
     <div class="field">
    <%= f.label :longitud %><br>
    <%= f.text_field :longitude %>
  </div>

    <%= link_to (submit_tag "Crear casa", class: "datos") %>

<% end %>
</body>