<body class="fondobusqueda">
<% @busq.each do |casa| %>
<ul>
<li><h2 class="info">Localidad</h2> <p class="datos"><%= casa.ciudad %></p></li>
<li><h2 class="info">Direccion</h2> <p class="datos"><%= casa.direccion %></p></li>
<li><h2 class="info">Provincia</h2> <p class="datos"><%= casa.provincia %></p></li>
<li><h2 class="info">Pais</h2> <p class="datos"><%= casa.pais %></p></li>
<li><h2 class="info">Situacion</h2> <p class="datos"><%= casa.situacion %></p></li>
<li><h2 class="info">Fechas</h2> <p class="datos"><%= casa.fechas %></p></li>
<li><h2 class="info">descripcion</h2> <p class="datos"><%= casa.descripcion %></p></li>

<%= link_to (submit_tag "Ubicacion", class: "field"), casa_path(casa) %>
<%= link_to (submit_tag "Inicio", class: "barra3"), root_path %>
</ul>
<% end %>
</body>