<body class="fondocrear">
<% @casas.each do |casa| %>
<ul>
<li><h2 class="info">Localidad</h2> <p class="datos"><%= casa.ciudad %></p></li>
<li><h2 class="info">Direccion</h2> <p class="datos"><%= casa.direccion %></p></li>
<li><h2 class="info">Provincia</h2> <p class="datos"><%= casa.provincia %></p></li>
<li><h2 class="info">Pais</h2> <p class="datos"><%= casa.pais %></p></li>
<li><h2 class="info">Situacion</h2> <p class="datos"><%= casa.situacion %></p></li>
<li><h2 class="info">Fechas</h2> <p class="datos"><%= casa.fechas %></p></li>
<li><h2 class="info">descripcion</h2> <p class="datos"><%= casa.descripcion %></p></li>
<li><h2 class="info">address</h2> <p class="datos"><%= casa.address %></p></li>
<li><h2 class="info">latitud</h2> <p class="datos"><%= casa.latitude %></p></li>
<li><h2 class="info">longitud</h2> <p class="datos"><%= casa.longitude %></p></li>
</ul>
<%= link_to (submit_tag "Borrar", class: "barra1"), casa_path(casa),
                    method: :delete, data: { confirm: '¿Estas seguro?' } %>
<% end %>
<%= link_to (submit_tag "Nueva casa", class: "barra2"), new_casa_path %>
<%= link_to (submit_tag "Inicio", class: "barra3"), root_path %>
</body>
